.playlistPage {
  margin: -1400px 0px 0px 250px;

  display: flex;
  flex-direction: column;

  &__container {
    height: 500px;
    display: flex;
    column-gap: 20px;
    background: linear-gradient(#5578ec, rgba(237, 230, 240, 0.333));
  }

  &__image {
    width: 250px;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__name {
    font-size: 80px;
    &-container {
      display: flex;
      align-items: center;
    }
  }
}
