@use '../../styles//partials/mixins' as *;


.publicPlaylist__card-container {
  height: 200px;
  width: 150px;
  @include responsive(mobile){
   display: none;
  }

  background-color: #151111;
  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
.publicPlaylist__card-image {
  width: 120px;
  @include responsive(mobile){
    width: 100px;
  }
}
