.relatedartist__Image{
    width: 150px;
    height: 150px;
    border-radius: 100px;

    &-container{
        background-color: #151111;
    
        height: 250px;
        width: 200px;
        &:hover {
          background-color: rgba(128, 128, 128, 0.2);
        }
    }
}