.playlist {
  // border: 2px solid red;
height: 100vh;
display: flex;
margin-top: -1100px;
  &__likedsongCard {
    width: 310px;
    height: 210px;
    background: linear-gradient(149.46deg, #450af5, #b8e58e 99.16%);
  }
}
