.topArtist {
  display: flex;
  column-gap: 13px;
  justify-content: flex-start;
  margin-left: 250px;
  &__image-container {
    background-color: #151111;

    height: 200px;
    width: 150px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }
  }
  &__image {
    width: 100px;
    border-radius: 100px;
  }
  &__name {
    font-size: 13px;
  }
  &__artist {
    font-size: 10px;
  }
  &__title-container {
    display: flex;
    margin-left: 250px;
  }
}
