.sidebar {
  background-color: black;
;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  font-size: 12px;
  margin-top: -30px;
  &__logo {
    width: 170px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
  }
  &__home {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
  }
  &__search {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__library {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    &-list {
      width: 200px;
      display: flex;
      text-decoration: none;
    }
    &-item {
      text-decoration: none;
    }
    &-playlist {
      color: white;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
  }
  &__line {
    width: 100%;
  }
}
