.track {
  display: flex;
  background-color: rgb(26, 22, 22);

  &__image {
    cursor: pointer;
    width: 100px;
  }
  &__album {
    display: flex;
    justify-content: flex-end;
  }
  &__artist {
    width: 150px;
  }
}

.TopTracksList {
  &__title {
    font-size: 16px;
  }
}
