.track {
  display: flex;
  background-color: rgb(26, 22, 22);

  &__image {
    width: 10%;
  }
  &__album {
    display: flex;
    justify-content: flex-end;
  }
  &__artist {
    width: 150px;
  }
}

.TopArtistList {
  &__title {
    font-size: 16px;
  }
}
